.hidden {
  position: absolute;

  &[data-hidden='true'],
  &[data-show-on-focus='true']:not(:focus) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal;
    border: 0;
    clip: rect(0 0 0 0);
  }
}
