.button {
  --buttonSize: calc((56 / 16) * 1rem);
  --buttonFontSize: calc((18 / 16) * 1rem);
  --buttonFocusWidth: 4px;
  --buttonPadding: 0 var(--spaceL);
  --buttonTextColor: rgb(var(--rgbBackground));
  --buttonTextOpacity: 1;
  --buttonLoaderDelay: 0s;
  position: relative;
  display: inline-flex;
  align-items: center;

  height: var(--buttonSize);
  padding: var(--buttonPadding);
  color: var(--buttonTextColor);
  cursor: pointer;
  isolation: isolate;
  transition-timing-function: var(--bezierFastoutSlowin);
  transition-duration: var(--durationS);
  transition-property: opacity, color, background;

  &:active {
    transition-duration: calc(var(--durationXS) / 2);
  }

  &::after {
    position: absolute;
    z-index: -1;
    background: rgb(var(--rgbPrimary));
    transition-timing-function: var(--bezierFastoutSlowin);
    transition-duration: var(--durationM);
    transition-property: opacity, color, background;
    content: '';
    clip-path: polygon(
      0 0,
      100% 0,
      100% calc(100% - 8px),
      calc(100% - 8px) 100%,
      0 100%
    );
    inset: 0;
  }

  @media (--mediaUseMotion) {
    transition-property: transform, opacity, color, background;

    &:hover {
      transform: scale(1.05);
    }

    &:active {
      transform: scale(1);
    }
  }

  &[data-secondary='true'] {
    --buttonSpace: 10px;
    --buttonTextColor: rgb(var(--rgbPrimary));
    position: relative;
    left: calc(var(--buttonSpace) * -1);
    height: calc((32 / 16) * 1rem);
    padding-right: var(--buttonSpace);
    padding-left: var(--buttonSpace);
    background: none;

    &::after {
      position: absolute;
      height: calc((32 / 16) * 1rem);
      background-color: rgb(var(--rgbPrimary) / 0.2);
      transform: scale3d(0, 1, 1);
      transform-origin: right;
      content: '';
      clip-path: none;
      inset: 0;
    }

    &:hover {
      background: transparent;
      transform: none;
    }

    &:hover::after {
      transform: scale3d(1, 1, 1);
      transform-origin: left;
    }

    &[data-icon='chevronRight'] {
      padding-left: calc(var(--buttonSpace) / 2);
    }

    @media (--mediaUseMotion) {
      &::after {
        transition: transform var(--durationM) var(--bezierFastoutSlowin);
      }
    }
  }

  &[data-loading='true'] {
    --buttonTextOpacity: 0;
  }

  &[data-icon-only='true'] {
    --buttonPadding: 0;
    --buttonTextColor: var(--colorTextBody);
    align-items: center;
    justify-content: center;

    width: var(--buttonSize);
    padding: 0;

    &:hover {
      transform: none;
    }

    &::after {
      background: rgb(var(--rgbText) / 0);
    }

    &:hover::after {
      background: rgb(var(--rgbText) / 0.1);
    }
  }

  &[disabled] {
    opacity: 0.4;
    pointer-events: none;
  }
}

.text {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  font-weight: var(--fontWeightMedium);
  font-size: var(--buttonFontSize);
  line-height: 1;
  opacity: var(--buttonTextOpacity);
  transition: opacity var(--durationM) var(--bezierFastoutSlowin);
}

.loader {
  position: absolute;
  left: 50%;
  color: rgb(var(--rgbBackground));
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity var(--durationM) ease var(--buttonLoaderDelay);

  &[data-visible='true'] {
    opacity: 1;
  }
}

.icon {
  transition-timing-function: var(--bezierFastoutSlowin);
  transition-duration: var(--durationS);
  transition-property: opacity, fill;

  @media (--mediaUseMotion) {
    transition-property: transform, opacity, fill;
  }

  &[data-start='true'] {
    margin-right: var(--spaceS);
  }

  &[data-end='true'] {
    margin-left: var(--spaceS);
  }

  @media (--mediaUseMotion) {
    @nest .button:hover &[data-shift='true'] {
      transform: translate3d(var(--spaceXS), 0, 0);
    }
  }

  @nest .button[data-loading='true'] & {
    opacity: 0;
  }
}
