.uses {
  --maxWidthL: var(--maxWidthM);
}

.section {
  margin-top: var(--space2XL);
  padding-top: var(--space2XL);
  padding-bottom: var(--space2XL);
  opacity: 0;

  &:global {
    animation: fadeIn 1s ease 1s forwards;
  }

  & + & {
    margin-top: 0;
  }
}
