.app {
  position: relative;
  display: grid;
  grid-template: 100% / 100%;
  width: 100%;
}

.page {
  grid-area: 1 / 1;
  min-height: 100lvh;
}

.skip {
  z-index: var(--zIndex4);
  color: rgb(var(--rgbBackground));
  isolation: isolate;

  &:focus {
    position: fixed;
    top: var(--spaceM);
    left: var(--spaceM);
    padding: var(--spaceS) var(--spaceM);
    font-weight: var(--fontWeightMedium);
    line-height: 1;
    text-decoration: none;
    box-shadow: 0 0 0 4px rgb(var(--rgbBackground)),
      0 0 0 8px rgb(var(--rgbText));
  }

  &::before {
    position: absolute;
    z-index: -1;
    background-color: rgb(var(--rgbPrimary));
    content: '';
    clip-path: polygon(
      0 0,
      100% 0,
      100% calc(100% - 8px),
      calc(100% - 8px) 100%,
      0 100%
    );
    inset: 0;
  }
}
