.armor {
  position: relative;
  display: grid;
  place-content: center;
}

.loader {
  opacity: 0;
  transition: opacity var(--durationL) var(--bezierFastoutSlowin);

  &[data-visible='true'] {
    opacity: 1;
  }
}

.canvas {
  position: absolute;
  opacity: 0;
  transition: opacity var(--durationXL) var(--bezierFastoutSlowin);
  inset: 0;

  &[data-loaded='true'] {
    opacity: 1;
  }
}
