.textSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 80px;
  overflow: hidden;

  & svg {
    max-width: 400px;
    height: auto;
  }
}

.armor {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 100%;
  aspect-ratio: 1 / 2;
}
