.text {
  &::after {
    visibility: hidden;
    content: '_';
  }
}

.glyph {
  font-weight: var(--fontWeightRegular);
  font-family: var(--japaneseFontStack);
  line-height: 0;
  opacity: 0.8;
}

.value {
  opacity: 1;
}
