button.toggle {
  --offset: var(--spaceXS);
  --inset: calc(var(--spaceOuter) - var(--offset));

  position: fixed;
  top: var(--inset);
  right: var(--inset);
  z-index: var(--zIndex4);
  display: none;

  @media (--mediaMobile), (--mediaMobileLS) {
    display: flex;
  }
}

.inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.icon {
  --iconSize: var(--spaceXL);

  position: absolute;
  width: var(--iconSize);
  height: var(--iconSize);
  transform: rotate(0deg);
  opacity: 1;
  transition-timing-function: var(--bezierFastoutSlowin);
  transition-duration: var(--durationM);
  transition-property: opacity, fill;
  fill: var(--colorTextBody);

  @media (--mediaUseMotion) {
    transition-delay: 0.1s;
    transition-property: opacity, transform, fill;
  }

  &[data-open='true'] {
    opacity: 0;

    @media (--mediaUseMotion) {
      transform: rotate(45deg);
      transition-delay: 0s;
    }
  }

  &[data-close='true'] {
    opacity: 0;

    @media (--mediaUseMotion) {
      transform: rotate(-45deg);
      transition-delay: 0s;
    }
  }

  &[data-open='true']&[data-close='true'] {
    opacity: 1;

    @media (--mediaUseMotion) {
      transform: rotate(0deg);
      transition-delay: 0.1s;
    }
  }
}
