.footer {
  --lineHeightBody: 1.1;
  position: relative;
  z-index: var(--zIndex2);
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
  width: 100vw;
  padding: var(--space3XL) var(--spaceL);
  color: var(--colorTextLight);
}

.link {
  display: inline-flex;
}

.date {
  display: inline-flex;
  padding-right: var(--spaceXS);
}
