.page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  padding-left: 140px;

  @media (--mediaTablet) {
    grid-template-columns: 100%;
    height: auto;
    min-height: 100vh;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 80px;
  }

  @media (--mediaMobile) {
    padding-left: 0;
  }
}

.videoContainer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: var(--space2XL) solid transparent;

  &::after {
    position: absolute;
    z-index: var(--zIndex2);
    background: rgb(var(--rgbAccent));
    transform: scale3d(0, 1, 1);
    transform-origin: left;
    animation-duration: 1.8s;
    animation-timing-function: var(--bezierFastoutSlowin);
    content: '';
    inset: 0;
  }

  @media (--mediaLaptop) {
    border-width: var(--spaceL);
  }

  @media (--mediaTablet) {
    border-width: var(--space4XL);
  }

  @media (--mediaMobile) {
    grid-row: 1;
    min-height: 240px;
    border-width: var(--spaceOuter);
    border-top: 0;
  }

  @media (--mediaUseMotion) {
    &[data-visible='true']::after:global {
      animation-name: reveal;
    }
  }
}

.video {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition-delay: 0.8s;
  transition-duration: var(--durationXL);
  transition-property: opacity;

  @media (--mediaMobile) {
    left: 0;
  }

  &[data-visible='true'] {
    opacity: 1;
  }
}

.credit {
  position: absolute;
  bottom: var(--spaceS);
  left: var(--spaceS);
  padding: var(--spaceXS) var(--spaceS);
  color: rgb(var(--rgbWhite) / 0.4);
  font-size: var(--fontSizeBodyS);
  text-decoration: none;
  background: rgb(var(--rgbBlack) / 0.6);
  transform: none;
  opacity: 0;
  transition: opacity var(--durationM) ease var(--durationXL),
    color var(--durationM) ease;

  &:hover,
  &:focus {
    color: rgb(var(--rgbWhite));
  }

  &[data-visible='true'] {
    opacity: 1;
  }
}

.details {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 var(--spaceXL);

  @media (--mediaMobile) {
    grid-row: 2;
    padding: 0 var(--spaceOuter);
  }
}

.text {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 480px;
}

.title {
  margin-bottom: var(--spaceM);
  opacity: 0;
  transition-delay: 0.1s;
  transition-timing-function: var(--bezierFastoutSlowin);
  transition-duration: var(--durationXL);
  transition-property: opacity;

  @media (--mediaUseMotion) {
    transform: translate3d(0, var(--spaceL), 0);
    transition-property: transform, opacity;
  }

  &[data-visible='true'] {
    transform: none;
    opacity: 1;
  }
}

.subheading {
  flex: 0 0 auto;
  max-width: 100%;
  padding-bottom: var(--spaceL);
  overflow: hidden;
  color: rgb(var(--rgbText) / 0.4);
  letter-spacing: 0.04em;
  white-space: nowrap;
  text-transform: uppercase;
  opacity: 0;
  transition-delay: 0.2s;
  transition-timing-function: var(--bezierFastoutSlowin);
  transition-duration: var(--durationXL);
  transition-property: opacity;

  @media (--mediaMobile) {
    font-size: calc((18 / 16) * 1rem);
  }

  @media (--mediaUseMotion) {
    transform: translate3d(0, var(--spaceL), 0);
    transition-property: transform, opacity;
  }

  &[data-visible='true'] {
    transform: none;
    opacity: 1;
  }
}

.description {
  padding-bottom: var(--spaceL);
  opacity: 0;
  transition-delay: 0.3s;
  transition-timing-function: var(--bezierFastoutSlowin);
  transition-duration: var(--durationXL);
  transition-property: opacity;

  @media (--mediaUseMotion) {
    transform: translate3d(0, var(--spaceL), 0);
    transition-property: transform, opacity;
  }

  &[data-visible='true'] {
    transform: none;
    opacity: 1;
  }
}

.button {
  align-self: flex-start;
  padding-left: var(--spaceXXS);
  opacity: 0;
  transition-delay: var(--durationM);
  transition-timing-function: var(--bezierFastoutSlowin);
  transition-duration: var(--durationXL);
  transition-property: opacity;

  @media (--mediaUseMotion) {
    transform: translate3d(0, var(--spaceL), 0);
    transition-property: transform, opacity;
  }

  &[data-visible='true'] {
    transform: none;
    opacity: 1;
  }
}
