.container {
  --inset: 4px;
}

.options {
  position: relative;
  display: flex;
  padding: var(--inset);

  &::before {
    position: absolute;
    background-color: rgb(var(--rgbText) / 0.05);
    content: '';
    clip-path: polygon(
      0 0,
      100% 0,
      100% calc(100% - 10px),
      calc(100% - 10px) 100%,
      0 100%
    );
    inset: 0;
  }
}

.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  padding: 0 24px;
  color: var(--colorTextLight);
  font-weight: var(--fontWeightMedium);
  font-size: inherit;
  font-family: inherit;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transition-timing-function: ease;
  transition-duration: var(--durationM);
  transition-property: color, background;

  &[aria-checked='true'] {
    color: var(--colorTextBody);
  }

  &::before {
    --inset: 12px;
    position: absolute;
    top: var(--inset);
    bottom: var(--inset);
    left: 0;
    width: 1px;
    background-color: rgb(var(--rgbText) / 0.1);
    opacity: 0;
    transition: opacity var(--durationM) var(--bezierFastoutSlowin);
    content: '';
  }

  &:not([aria-checked='true']) + &:not([aria-checked='true'])::before {
    opacity: 1;
  }
}

.indicator {
  position: absolute;
  top: var(--inset);
  bottom: var(--inset);
  left: 0;
  width: var(--width);
  transform: translate3d(var(--left), 0, 0);
  filter: drop-shadow(0 6px 12px rgb(var(--rgbBlack) / 0.2));

  @media (--mediaUseMotion) {
    transition-timing-function: var(--bezierFastoutSlowin);
    transition-duration: var(--durationM);
    transition-property: width, transform;
  }

  &::before {
    position: absolute;
    background-color: rgb(var(--rgbBackgroundLight));
    filter: brightness(2.2);
    content: '';
    clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 100%);
    inset: 0;

    @media (--mediaUseMotion) {
      transition: clip-path var(--durationM) var(--bezierFastoutSlowin);
    }
  }

  &[data-last='true']::before {
    clip-path: polygon(
      0 0,
      100% 0,
      100% calc(100% - 8px),
      calc(100% - 8px) 100%,
      0 100%
    );
  }
}
