.image {
  position: relative;
  display: grid;
  grid-template-columns: 100%;
  transform: translate3d(0, 0, 0);
  isolation: isolate;

  &[data-raised='true'] {
    box-shadow: 0 50px 100px -20px rgb(var(--rgbBlack) / 0.25),
      0 30px 60px -30px rgb(var(--rgbBlack) / 0.3);
  }

  &[data-reveal='true'] {
    --revealDuration: 1.8s;

    transition: box-shadow var(--durationL) ease calc(var(--revealDuration) / 2);

    &:not([data-visible='true']) {
      box-shadow: none;
    }

    &::before {
      position: absolute;
      z-index: var(--zIndex2);
      background-color: rgb(var(--rgbAccent));
      transform: scale3d(0, 1, 1);
      transform-origin: left;
      content: '';
      will-change: transform;
      inset: 0;
    }

    @media (--mediaUseMotion) {
      &[data-visible='true']::before:global {
        animation: reveal var(--revealDuration) var(--bezierFastoutSlowin)
          var(--delay);
      }
    }
  }
}

.container {
  position: relative;
  display: grid;
  grid-template-columns: 100%;
  transform: none;
}

.elementWrapper {
  position: relative;
  display: grid;
  grid-template-columns: 100%;
  transform: none;
  opacity: 0;
  transition: none;

  &[data-reveal='true'] {
    opacity: 0;
    transition: opacity var(--durationM) ease var(--delay);

    @media (--mediaReduceMotion) {
      transition-delay: calc(var(--delay) - 1s);
    }
  }

  &[data-visible='true'] {
    opacity: 1;
  }
}

.placeholder {
  position: relative;
  z-index: var(--zIndex1);
  grid-row: 1;
  grid-column: 1;
  width: 100%;
  height: auto;
  opacity: 1;
  transition: opacity var(--durationM) ease var(--delay);
  pointer-events: none;

  &[data-loaded='true'] {
    opacity: 0;
  }
}

.element {
  grid-row: 1;
  grid-column: 1;
  width: 100%;
  height: auto;
  opacity: 0;
  /* stylelint-disable-next-line value-no-vendor-prefix */
  image-rendering: -webkit-optimize-contrast;

  &[data-loaded='true'] {
    opacity: 1;
  }
}

.button {
  position: absolute;
  top: var(--spaceM);
  left: var(--spaceM);
  height: 32px;
  padding: 0 8px 0 2px;
  color: rgb(var(--rgbWhite));
  opacity: 0;

  &::after {
    background-color: rgb(var(--rgbBlack) / 0.8);
  }

  @nest .elementWrapper:hover &, &:focus {
    opacity: 1;
  }
}
